.header {
	background-color: #F6F6EB;
	grid-area: header;
	height: fit-content;
	padding-top: -20px;
	text-align: center;
}

.nav {
	grid-area: nav;
	text-align: center;
	height: stretch;
	position: sticky;
	left:0px;
	width: auto;
}

.main {
	grid-area: main;
	height: stretch;
	padding: 10%;
	right:0px;
	width: auto;
}

@media only screen and (max-width: 600px) {
	.nav p {
		font-size: 10px;
	}

	.main p {
		font-size: 10px;
	}
}


.footer_left, .footer_mid, .footer_right {
	position: absolute;
	bottom: 0px;
	padding: 0;
	background-color: #F6F6EF;
}

.footer_left {
	grid-area: footer_left;
	width:25%;
	left:0px;
	text-align: left;
}

.footer_mid {
	grid-area: footer_mid;
	width:50%;
	left:25%;
	text-align: left;
}

.footer_right {
	grid-area: footer_right;
	width:25%;
	right:0px;
	text-align: right;
}

.footer_left p, .footer_right p {
	font-size: 12px;
}

.footer_mid p {
	font-size: 12px;
	color: #F6F6EB;
}

.footer_right a{
	text-decoration: none;
	border: none;
}

.grid-container {
	display: grid;
	grid-template-areas:
		'header header header'
		'nav main main'
		'footer_left footer_mid footer_right';
	grid-gap: 5px;
}

.grid-container > div {
	text-align: center;
	padding: 20px 0;
	font-size: 25px;
}

p, h1, h2, h3 {
	font-family: 'Source Code Pro', Consolas, "Andale Mono WT", "Lucida Console", Courier, monospace;
}

/* unvisited link */
a:link, a:visited {
	font-family: 'Source Code Pro', Consolas, "Andale Mono WT", "Lucida Console", Courier, monospace;
	color: black;
	text-decoration: none;
	padding: 5px;
	border: 3px solid #F6F6EB;
}

/* mouse over link */
a:hover, a:active {
	font-family: 'Source Code Pro', Consolas, "Andale Mono WT", "Lucida Console", Courier, monospace;
	color: black;
	text-decoration: none;
	padding: 5px;
	border: 3px double gray;
}

.currentlink {
	font-family: 'Source Code Pro', Consolas, "Andale Mono WT", "Lucida Console", Courier, monospace;
	color: black;
	text-decoration: none;
	padding: 5px;
	border: 3px solid #F6F6EB;
	pointer-events:none;
}
